/* Initialize data here*/
$theme: white;
$font-theme: black;
/* Code starts here */
* {
    padding: 0;
    margin: 0;
}

.main-section {
    width: 100vw;
    height: 100vh;
    background-color: $theme;

    .header {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        position: relative;
        top: 1.5rem;

        .changetheme {
            position: relative;
            right: 5.5rem;
            width: 120px;
            height: 34px;
            background-color: white;
            border: 2px solid black;
            border-radius: 8px;
            font-family: "Share Tech Mono";
            display: flex;
            align-items: center;
            justify-content: center;
            transition: 0.3s;
        }
        .changetheme:hover {
            background-color: black;
            color: white;
        }
    }
    .main {
        width: 100vw;
        height: 90vh;
        display: flex;
        align-items: center;
        justify-content: center;
        .clock {
            width: 350px;
            height: 152px;
            border: 2.5px solid $font-theme;
            border-radius: 8px;
            display: flex;
            align-items: center;
            justify-content: center;
            .time {
                font-family:"Share Tech Mono";
                font-size: 32px;
                font-weight: 600;
                color: $font-theme;
            }
        }
    }


}

